fastapi[all]==0.115.5
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==3.2.0
pyupbit==0.2.34
beautifulsoup4==4.8.2
bs4==0.0.1
webdriver-manager==4.0.2
selenium==4.27.1
ccxt
matplotlib